* {
    text-align: center;
    font-size: 30px;
    box-sizing: border-box;
    font-weight: bold;
    
}

body{
    background-color: rgb(136, 188, 233);
}

.ball {
    position: relative;
    margin: auto;
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 100%;
    top: 500px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}


.ball2 {

    position: relative;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    cursor: pointer;
    background-color: red;

}



.ball3 {

    position: relative;
    margin: 3;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(5, 225, 93);

}

.ball6 {

    position: relative;
    margin: 3;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(5, 225, 93);

}

.ball6:hover{
    
}